[Unit]
Description=Run the LEDs on startup
After=multi-user.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/LED-FRC-Matrix/LEDcontrol/run.py
Type=simple

[Install]
WantedBy=multi-user.target