[Unit]
Description=Run the LEDs on startup
After=multi-user.target

[Service]
WorkingDirectory=/home/pi/LED-FRC-Matrix/
ExecStart=/bin/sudo /bin/python /home/pi/LED-FRC-Matrix/LEDcontrol/run.py
Restart=always
Type=simple

[Install]
WantedBy=multi-user.target